* {
word-wrap:break-word;
}

.versenum {
display:inline-block;
padding-right:10px;
}

.chaptertitle {
font-size: 22px;
font-weight: bold;
padding:20px;
text-align: center;
}

.theverse {
padding-top: 8px;
}
